---
layout: default
title: toto's micro-blog
description: Micro-blog where I talk about recent discoveries, mostly around coffee, photography and technology.
---

<a href="/">&#8672; home</a>

<h1>toto's blog</h1>
<p>{{ page.description }}</p>
<hr>

{% for post in site.posts %}
{% unless post.draft %}
<h2>
    <a
        href="{% if post.external_url %}{{ post.external_url }}{% else %}{{ post.url | relative_url }}{% endif %}">{{post.title}}</a>
</h2>

<p>
    <i><time datetime="{{ post.date | date: '%F' }}">{{ post.date | date_to_long_string: "ordinal"}}</time></i>
</p>

<p>{{ post.description }}</p>

<hr>
{% endunless %}
{% endfor %}