---
layout: default
---

<a href="/blog">&#8672 posts</a>

<h1>{% if page.draft %}DRAFT - {% endif %}{{ page.title }}</h1>

<p><i><time datetime="{{ page.date | date: '%F' }}">{{ page.date | date_to_long_string: "ordinal"}}</time></i></p>

{{ content }}

<div style="margin-top: 50px; margin-bottom: 50px;">
    <hr>
    <h2>About me</h2>

    <p>I am Thomas (toto) Bille, a software engineer who previously worked as an Engineering manager at Canonical, the publisher of Ubuntu. I am passionate about tech, photography and coffee. Make yourself comfy and welcome to my site!</p>
    <p><i>I am currently available for hire. Please don't hesitate to reach me <a href="https://www.linkedin.com/in/tbille/">on LinkedIn</a>.</i></p>
</div>